<p>Spoločnosť MEDCO, s.r.o. vznikla v roku 1999 a v prvých rokoch činnosti sa venovala najmä poradenskej a školiacej činnosti.</p>
<p>Od roku 2005 sme držiteľom licencie na poskytovanie zdravotnej starostlivosti v odbore ortopédia.</p>
<p>Licenciu sme od roku 2006 rozšírili o poskytovanie zdravotnej starostlivosti v odbore oftalmológia a od roku 2007 o poskytovanie JAS v odbore ortopédia, t.j. jednodňovej ambulantnej chirurgickej starostlivosti.</p>
<p>Všetky naše pracoviská sú držiteľmi certifikátu manažérstva kvality podľa ISO 9001:2000.</p>
<p>Od júna 2007 sme činnosť rozšírili o auditoring so zameraním na firmy podnikajúce v oblasti poskytovania služieb, poradenské firmy a poskytovateľov zdravotnej starostlivosti.</p>
