<h2>Očná ambulancia, Hálkova 3, Žilina</h2>
<p>Očná ambulancia poskytuje komplexné vyšetrenia na novom prístrojovom vybavení vysokého štandardu.</p>
<p>Škála vyšetrení zahŕňa diagnostiku, liečbu a možnú prevenciu všetkých postihnutí očí, od úrazov, cez zápaly, alergické ochorenia, vrodené a dedične podmienené ochorenia, refrakčné chyby, bolesti hlavy a očí, poruchy videnia až po očné komplikácie iných ochorení.</p>
<p>Osobitnú starostlivosť venujeme podchyteniu civilizačných ochorení ako je syndróm suchého oka, alergie a v súčasnosti najčastejších ochorení spôsobujúcich výrazné zhoršenie videnia a tým aj kvality života ako sú - glaukóm (zelený zákal), katarakta (sivý zákal) a vekom podmienená degenerácia makuly.</p>
<p>Pacienti mimo urgentných stavov sú objednaní na deň a hodinu do 12. hodiny. Po 13. hodine vykonávame prednostné vyšetrenia. Kvalifikovaná zdravotná sestra a lekár - špecialista sú Vám plne k dispozícii.</p>
<p>Naša ambulancia je zmluvným partnerom všetkých zdravotných poisťovní.</p>
<p>Firmám ponúkame preventívne prehliadky pre rizikových zamestnancov, vstupné a výstupné očné prehliadky a preventívne prehliadky pre pracujúcich so zobrazovacími jednotkami, práce vo výškach, nočnú prácu, vodičov a posudzovanie zdravotnej spôsobilosti pre výkon práce na železnici podľa predpisu OP 5.</p>
<p>Tešíme sa Vašu návštevu nielen na webovej stránke MEDCO, s.r.o.</p>

kolektív Očnej ambulacie: MUDr. Iveta Hronská
sestra Marta Michaláková
