<h2>MUDr. Iveta Hronská</h2>

<h3>Vzdelanie odborné:</h3>
<ul>
  <li>Lekárska fakulta Univerzity Komenského Bratislava (1989)</li>
  <li>Dve kvalifikačné atestácie z odboru oftalmológia (1994, 1998)</li>
</ul>
<h3>Špecializácie nadstavbové:</h3>
<ul>
  <li>Diagnostický ultrazvukový kurz - Vzdelávacie centrum Alcon Praha</li>
  <li>Liečba očných prejavov DM vrátane laserkoagulácie</li>
  <li>Update in ophthalmology - Očná klinika FN Mníchov</li>
  <li>Moorfields macular course in Prague - Očná klinika Královské Vinohrady Praha</li>
  <li>Fakoemulzifikácia u obtiažnych prípadov - Očná klinika FN Hradec Králové</li>
  <li>Novosti v glaukómoch - Očná klinika Banská Bystrica</li>
  <li>Aktuality v diagnostike a liečbe glaukómu - Očná klinika Bratislava Antolská</li>
  <li>Nové trendy v diagnostike v ambulancii očného lekára - SZU Bratislava</li>
</ul>
<h3>Posudková činnosť:</h3>

<p>Školenie z predpisu OP 5 o zdravotnej spôsobilosti na výkon práce na železnici - ŽNsP Bratislava</p>

<h3>Prednášková činnosť:</h3>

<p>7x autor prednášky, 10x spoluautor</p>

<h3>Členstvo v odborných spoločnostiach:</h3>
<ul>
  <li>Slovenská oftalmologická spoločnosť</li>
  <li>Slovenská lekárska spoločnosť</li>
</ul>
