<h2>Vyšetrenie očného pozadia bez rozkvapkania</h2>

<p>Našim pacientom ponúkame v rámci nadštandardu vyšetrenie očného pozadia pomocou nemydriatickej retinálnej kamery
  Canon.</p>
<p>Lekárka očné pozadie v dostatočnom rozsahu v krátkom časovom intervale vyšetrí, nafotí, a uloží do počítača pre
  porovnanie s kontrolnými vyšetreniami. Na monitore máte možnosť vidieť výsledok vyšetrenia s následným
  vysvetlením.</p>
<p>Nie je nutné kvapkanie do očí , nečakáte na dostatočné rozšírenie zreníc a zvyšný deň absolvujete bez obmedzení pre
  nepohodu vo videní.</p>
<p>Takýto spôsob vyšetrenia šetrí Váš čas a zvyšuje Váš komfort. Vyšetrenia realizujeme formou objednania na deň a čas
  za poplatok 10,- Euro.</p>

<h3>Objednať sa môžete v pracovný deň od 8. do 13. hodiny.</h3>
<h3>041 7231270</h3>
<h3>MUDr. Iveta Hronská</h3>
